<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.centennial.healthtab">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activity.StepCounterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Alarm_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SetData_Activity"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name="com.centennial.healthtab.service.Alarm_Receiver"
            android:enabled="true"
            android:process=":remote" />
        <receiver
            android:name="com.centennial.healthtab.service.Boot_Receiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.centennial.healthtab.service.Notification_Receiver"
            android:enabled="true" />
        <receiver
            android:name="com.centennial.healthtab.widget.WidgetNotification_Mode"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/notification_mode" />
        </receiver>

        <service android:name="com.centennial.healthtab.widget.Widget_Service" />

        <activity
            android:name=".activity.Tab_activity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".activity.DistanceRun" />
    </application>

</manifest>